@import "./def";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.nav {
  font-weight: 500;
  display: flex;
  align-items: center;
  display: flex;
}

.header-logo {
  color: #000000;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  @include transition; //background-color, color;

  margin-right: 93px;
}

.header-logo:hover {
  color: $accent-color;
}

/*site nav*/
.site-nav {
  display: flex;
  letter-spacing: 0.02em;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  padding: 32px 0px;
  display: block;
  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;

  @include transition; //background-color, color, border-bottom;

  border-bottom: 4px solid transparent;
}

.site-nav__link:hover:not(.current),
.site-nav__link:focus:not(.current) {
  color: $accent-color;
  border-bottom: 4px solid $accent-color;
}

.site-nav__link.current {
  color: $accent-color;
}

/*auth nav*/
.auth-nav {
  letter-spacing: 0.02em;
  display: flex;
}
.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__link {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  display: flex;

  @include transition; //background-color, color, fill;
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: $accent-color;
  fill: $accent-color;
}
.auth-nav__link:hover .auth-nav__icon,
.auth-nav__link:focus .auth-nav__icon {
  fill: $accent-color;
}
/*
.auth-nav__icon:hover,
.auth-nav__icon:focus {
  fill: $accent-color;
}
*/

.auth-nav__text {
  margin-left: 10px;
}

.auth-nav__icon {
  fill: $primary-text-color;

  @include transition; //fill;
}
.email-icon {
  height: 12px;
  width: 16px;
}
.tel-icon {
  height: 16px;
  width: 10px;
}
