@import "./def";

.works {
  padding-bottom: 94px;
}
.works__list {
  display: flex;
}
.works__item {
  position: relative;
  display: block;
}
.works__item:not(:last-child) {
  margin-right: 30px;
}
.works__text {
  position: absolute;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 3px;
  left: 0;
  height: 70px;
  width: 100%;
  margin: 0 auto;

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding-top: 27px;
}

