@import "../utils/vars";
@import "../utils/mixins";

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $primary-bg-color;

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
  }

  &__link {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    background-color: $primary-bg-color;
    margin-bottom: 30px;

    @include transition; //background-color, color, border;
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid #2196f3;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: #2196f3;
  }

  &__icon {
    width: 49px;
    height: 44px;
    fill: #afb1b8;

    @include transition; //background-color, color, fill;
  }
  &__icon--foster {
    width: 80px;
    height: 42px;
  }
  &__icon--primary {
    width: 88px;
    height: 45px;
  }
  /*
  &__icon:hover,
  &__icon:focus {
    background-color: #afb1b8;
  }
  */
}

@media screen and (max-width: 767px) {
  .clients__link {
    width: 210px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 90px;
  }
}
