@import "../utils/vars";
@import "../utils/mixins";

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  & .container {
    //display: flex;
    //align-items: baseline;
    text-align: left;
    flex-wrap: wrap;
  }
  &__wrapper {
    margin-left: 0;
  }
}

/* footer left */

.footer-left {
  display: flex;
  //align-items: baseline;
  text-align: left;
  margin-right: 70px;
  width: 226px;

  &__logo {
    display: inline-block;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &__contacts {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 9px;
    display: block;
    line-height: 1.7;
  }

  &__email-item {
    margin-bottom: 9px;
  }
  &__link {
    display: block;
    line-height: 1.7;
    display: inline-block;
    /*color: var(--footer-email-tel);*/
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
}

/* footer social */

.footer-social {
  width: 206px;

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: white;
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 44px;
    height: 44px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    width: 44px;
    height: 44px;

    fill: currentColor;
    background-color: rgba(255, 255, 255, 0.1);
    color: white; /*inherit;*/

    @include transition; //background-color, color;
  }

  &__link:hover,
  &__link:focus {
    background-color: #2196f3;
    color: white;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

/* footer right */

.footer-right {
  margin-left: 93px;
  //display: block;

  &__form {
    display: flex;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: white;
  }

  &__email {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
  }

  &__button {
    background-color: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    margin-left: 12px;
    margin-top: 0px;
  }

  &__link {
    text-decoration: none;
    display: flex;
  }

  &__text {
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    padding: 0;
    margin: 0;
    margin-left: 29px;
    margin-right: 10px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: #ffffff;
  }
}

@media screen and (max-width: 768px) {
  .footer .container {
    display: block;
    text-align: center;
    flex-wrap: wrap;
    //margin-left: 124px;
  }
  .footer-left {
    display: flex;
    align-items: baseline;
    text-align: center;
    margin-right: 0px;
    width: 226px;
    margin-bottom: 60px;
    margin-left: 124px;
  }
  .footer-social {
    margin-left: 124px;
  }
  .footer-right {
    margin-left: 0px;
    margin-top: 60px;
    &__form {
      display: block;
    }
    &__button-wrapper {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    //margin-left: 76px;
  }
  .footer-left {
    display: flex;
    align-items: baseline;
    text-align: center;
    margin-right: 165px;
    margin-left: 76px;
    width: 226px;
  }
  .footer-social {
    margin-left: 0px;
  }
  .footer-right {
    margin-left: 166px;
    margin-top: 60px;
    &__form {
      display: block;
    }
    &__button-wrapper {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    //margin-left: 0px;
  }
  .footer-left {
    display: flex;
    align-items: baseline;
    text-align: left;
    margin-right: 70px;
    margin-left: 0px;
    width: 226px;
  }
  .footer-social {
    margin-left: 0;
  }
  .footer-right {
    margin-left: 93px;
    margin-top: 0px;
    &__form {
      display: flex;
    }
    &__button-wrapper {
      margin-top: 0px;
    }
  }
}
