/* ОК #212121*/
/*ВК #757575*/
/*белый #FFFFFF*/
/*акцент #2196F3*/
/*ВЦФ #F5F4FA*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
}

header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.nav {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.logo {
  color: #000000;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.nav > .logo {
  margin-right: 93px;
}

.logo:hover {
  color: var(--accent-color);
}

/*site nav*/
.site-nav {
  display: flex;
}
/*.site-nav .item {
  margin-right: 50px;}*/
/*background-color: var(--primary-bg-color)*/ /*#e5e5e5*/

/*.site-nav .item + .item {
  margin-left: 50px;
}*/
/*.site-nav .item:no(:last-child) {
  margin-right: 50px;
}*/
.site-nav > li:not(:last-child),
.auth-nav > li:not(:last-child) {
  margin-right: 50px;
}
.site-nav;
.auth-nav {
  letter-spacing: 0.02em;
}
.site-nav .link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
/*.auth-nav .item + .item {
  margin-left: 50px;
}*/

.site-nav,
.auth-nav {
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
.auth-nav .link.current {
  color: var(--accent-color);
}
.main-nav {
  display: flex;
}
.nav .link {
  display: block;
  padding: 32px 0px;
}
.link {
  color: inherit;
  font-weight: 500;
}
.auth-nav {
  display: flex;
}
.auth-link {
  display: flex;
}

.auth-text {
  margin-left: 10px;
}

.auth-icon {
  fill: var(--primary-text-color);
}
.auth-icon:hover,
.auth-icon:focus {
  fill: var(--accent-color);
}

.contacts-item:hover .auth-icon,
.contacts-item:focus .auth-icon {
  fill: var(--accent-color);
}

.email-icon {
  height: 12px;
  width: 16px;
}

.tel-icon {
  height: 16px;
  width: 10px;
}
/*koniec wersji bez :before*/

/*Hero*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");

  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  padding: 0;
  text-transform: uppercase;
}
.hero-title,
.button {
  letter-spacing: 0.06em;
}
.button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-primary {
  padding: 10px 32px;
  min-width: 200px;

  font-weight: 700;
  line-height: 1.88;

  background-color: var(--accent-color);
}

/*section*/

.none {
  display: none;
}

/*Features*/
.features {
  padding-top: 88px;
  padding-bottom: 100px;
}
.features > .container {
  text-align: left;
}
.features-list {
  display: flex;
}
.features-list > li {
  width: calc((100% - (3 * 30px)) / 4);
}
.features-list > li:not(:last-child) {
  margin-right: 30px;
}
.title {
  margin-bottom: 10px;

  font-size: inherit;
  text-transform: uppercase;
}
.title-text {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.7;
}
.features-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.features-item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  background-color: #f5f4fa;
}

.icon-details::before {
  background-image: url("../images/antenna.svg");
}
.icon-time::before {
  background-image: url("../images/clock.svg");
}
.icon-plan::before {
  background-image: url("../images/diagram.svg");
}
.icon-technology::before {
  background-image: url("../images/astronaut.svg");
}
/*works*/
.works {
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  color: var(--title-text-color);
}
.work-list {
  display: flex;
}
.work-list > li:not(:last-child) {
  margin-right: 30px;
}
.item-foto {
  display: block;
}
/*team*/
.team > .container {
  margin-bottom: 0;
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-name {
  color: var(--title-text-color);
}
.employers-list {
  display: flex;
}
.work-list .title {
  color: var(--title-text-color);
}
.team-list > li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.employers-list > li:not(:last-child) {
  margin-right: 30px;
}
.team-foto {
  display: block;
}
.card {
  padding: 30px;
}

.title-name,
.profession {
  font-size: 16px;
  margin-bottom: 30px;
}
.title-name {
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--title-text-color-color);
}

.profession {
  margin-top: 5px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.employers-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.employers-list .profession {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/*social list*/

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-item {
  margin-bottom: 30px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

/*clients*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bg-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.clients-list-link {
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  background-color: var(--primary-bg-color);
}
.clients-list-icon {
  width: 49px;
  height: 44px;
  fill: #afb1b8;
}

.clients-list-link:hover,
.clients-list-link:focus {
  border: 1px solid #2196f3;
}

.clients-list-icon:hover,
.clients-list-icon:focus {
  /*background-color: #afb1b8;*/
}
.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: #2196f3;
}

/*button*/

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary {
  color: #ffffff;
  background-color: var(--accent-color);
  padding: 11px 34px;
  min-width: 200px;
  font-weight: 700;
  line-height: 1.88;
  text-decoration: none;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Staff list*/

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}

.section-title {
}

.employers-list > li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /*
  background-color: var(--hero-title-color);
*/
}

.card {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.title-name {
  color: var(--title-text-color);
}

/*Footer*/
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer > .container {
  text-align: left;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-logo,
.contact {
  color: var(--hero-title-color);
}

.contacts {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-email,
.contacts {
  display: block;
  line-height: 1.7;
}
.email-list {
  margin-bottom: 9px;
}
.contacts {
  margin-bottom: 9px;
  font-style: normal;
}
.footer-email {
  display: inline-block;
  color: var(--footer-email-tel);
  text-decoration: none;
}

/*Portfolio*/
/*.project-title {
  background-color: #eeeee;
}*/

.example .section-filter {
  display: none;
}

.example {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-nav {
  margin-top: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.button-nav > li:not(:last-child) {
  margin-right: 8px;
}
.button-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  /*text-decoration: none;*/
}
.filter {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: inherit;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.filter:focus,
.filter:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}
.project-title {
  display: flex;
  flex-wrap: wrap;
}
.foto-list {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - (2 * 30px)) / 3);
  width: 370px;
  outline: 1px solid #eeeeee;
}

.project-title {
  /*background-color: #e5e5e5;*/
}

.foto-list {
  background-color: #ffffff;
}

.foto-list .link:hover,
.foto-list .link:focus {
  /*background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;*/
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.foto-list > .link,
.foto-list img {
  display: block;
}

.foto-list:nth-child(3n) {
  margin-right: 0;
}

.foto-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
  /*background-color: #ffffff;*/
}

.name-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.work-name {
  text-align: left;
  padding: 20px 24px;
}

.button-nav li {
  list-style-type: none;
}

.project-title {
  color: var(--title-text-color);
}

.foto-list .name-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.foto-list a {
  text-decoration: none;
}

/*.project-title li p { */
.name {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer {
}

/*
.footer-panels-list {
  display: flex;
}

.footer-panel {
  justify-content: left;
  align-items: left;
}

.footer-panel > .container {
  display: flex88;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin-left: 215px;
  margin-right: 0px;
}

.footer-panel > .container-footer {
  margin-left: 70px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.footer-list-title {
  color: #ffffff;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-list-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #2196f3;
}
.footer-list-link:hover .footer-list-icon,
.footer-list-link:focus .footer-list-icon {
  fill: #ffffff;
}
*/

.footer-list {
  display: flex;
}

.footer-list-item {
  width: 44px;
  height: 44px;
}

.footer-list-link {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  width: 44px;
  height: 44px;

  fill: currentColor;
  color: inherit;
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-list-link:hover,
.footer-list-link:focus,
.footer .footer-list-link:hover,
.footer .footer-list-link:focus {
  background-color: #2196f3;
  color: white;
}

.footer-list-icon {
  width: 20px;
  height: 20px;
}

.footer .footer-left,
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer > .footer-left,
.footer > .container {
  text-align: left;
}

.footer-left {
  margin-right: 70px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer-social {
  width: 206px;
}

.footer-list-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: white;
}

.footer .footer-list {
  color: white;
}

.footer .footer-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}
