@import "../utils/vars";
@import "../utils/mixins";

.features {
  padding-top: 88px;
  padding-bottom: 100px;

  &__list {
    text-align: left;
    display: flex;
  }
  &__item {
    width: calc((100% - (3 * 30px)) / 4);
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.7;
  }
  &__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
  &__item::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
    background-color: #f5f4fa;
  }
}

.icon-details::before {
  background-image: url("../images/antenna.svg");
}
.icon-time::before {
  background-image: url("../images/clock.svg");
}
.icon-plan::before {
  background-image: url("../images/diagram.svg");
}
.icon-technology::before {
  background-image: url("../images/astronaut.svg");
}
