@import "../utils/vars";
@import "../utils/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.nav {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.header-logo {
  color: #000000;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  @include transition; //background-color, color;

  margin-right: 93px;

  &:hover {
    color: $accent-color;
  }
}

/*site nav*/
.site-nav {
  display: flex;
  letter-spacing: 0.02em;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    padding: 32px 0px;
    display: block;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;

    @include transition; //background-color, color, border-bottom;

    border-bottom: 4px solid transparent;
  }

  &__link:hover:not(.current),
  &__link:focus:not(.current) {
    color: $accent-color;
    border-bottom: 4px solid $accent-color;
  }

  &__link.current {
    color: $accent-color;
  }
}

/*auth nav*/
.auth-nav {
  letter-spacing: 0.02em;
  display: flex;

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    display: flex;

    @include transition; //background-color, color, fill;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $accent-color;
  }

  /*
.auth-nav__icon:hover,
.auth-nav__icon:focus {
  fill: $accent-color;
}
*/

  &__text {
    margin-left: 10px;
  }

  &__icon {
    fill: $primary-text-color;

    @include transition; //fill;
  }
}

.email-icon {
  height: 12px;
  width: 16px;
}
.tel-icon {
  height: 16px;
  width: 10px;
}
